<h1>Listing options</h1>

<table>
  <thead>
    <tr>
      <th>Option label</th>
      <th>Option result</th>
      <th>Imagequestion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.option_label %></td>
        <td><%= option.option_result %></td>
        <td><%= option.imagequestion %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option', new_option_path %>
