<%= form_for(@imagequestion) do |f| %>
  <% if @imagequestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imagequestion.errors.count, "error") %> prohibited this imagequestion from being saved:</h2>

      <ul>
      <% @imagequestion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :hint %><br>
    <%= f.text_field :hint %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
